 Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Jupyter Notebook
.ipynb_checkpoints


#
*.json
*.tar
*.gzip
*.zip
*.pickle
*.pkl
*.pyc
*.pt
*.mp4
*.avi



# IPython
profile_default/
ipython_config.py

# Logs
deep_learning/TF/logs/*
deep_learning/PyTorch/logs/*

yolo_tmp/*
deep_learning/TF/data/datasets/tf_flowers/*
deep_learning/TF/data/datasets/IMDB/*
deep_learning/TF/data/datasets/*.gz
deep_learning/PyTorch/data/datasets/*


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
