
body {
     font-family: Arial, sans-serif;

     background-size: 150%;
     background-image: url("./data/backgr.jpg")
}

form {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: column;
    align-items: center;

}

label {
    margin-bottom: 8px;
    padding: 5px 5px;
    background-color: #f2f2f2;
    font-size: 17px;
}

select{
    font-size: 17px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
}



#welcome{
    border-style: solid;
    border-width: 2px;
    background: rgba(255, 255, 255, 0.8);





    text-align: center;
    font-size:40px;
    padding: 50px;
    margin-left:500px;
    margin-right:500px;
    font-family: Arial




}

#text_box{

  display: grid;
  content-align: center;


}



#idcountry{
    background-color: white;

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 8px 15px;
}

#idgender{
    background-color: white;

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 8px 15px;
}

#idproducts_number{
    background-color: white;

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 8px 15px;
}

#idactive_member{
    background-color: white;

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 8px 15px;
}

#idcredit_card{
    background-color: white;

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 8px 15px;
}

#result{
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 5px 4px;
    margin: 70px 200px;
    border-style: solid;
    border-width: 2px;


    width: 360px;
    background-color: white;
    border-radius: 5px;


}

// -- Button
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 20px 28px;
  margin: 70px 200px;
  font-size: 16px;
  cursor: pointer;
}